@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
:root{
    --Background : linear-gradient(45deg, #647DEE, #7F53AC , #cda2f9 , #0732f2);

    --Pages-ul-a-Border-Radius: 5px;
    --card-Border-Radius: 24px;
    --option-Border-Radius: 24px;
    --generated-img-Border-Radius: 10px;

    --logo-span: #fe2c54;

    --Button-color: #fe2c54;
    --Button-color-hover: red ;
    

    --White : #ffffff;
    --Black : #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

body{
    height: 100vh;
    background-image: var(--Background);
    background-size: 400% 400%;
    animation: infinitebg 60s ease-in-out infinite;
}

@keyframes infinitebg {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 50% 0;
    }
}

.NavBar{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--White);
    padding: 20px 5%;
}

.Brand h1 span{
    color: var(--logo-span);
}

.Pages ul a{
    list-style: none;
    text-decoration: none;
    color: var(--Black);
    display: inline-block;
    padding: 5px 20px;
    color: var(--White);
}

.Pages ul a:hover{
    background: var(--Black);
    color: var(--White);
    border-radius: var(--Pages-ul-a-Border-Radius);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.about{
    width: 700px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.about p{
    color: var(--White);
    font-size: 16px;
}

.about p a{
    color: var(--White);
    text-decoration: none;
    font-weight: bolder;
}

.options{
    margin-block: 30px;
    border-radius: var(--option-Border-Radius);
    box-shadow: 10px 10px 20px var(--Black);
}

select{
    padding: 10px 40px;
    border-radius: var(--option-Border-Radius);
    outline: none;
}

.Card{
    background: var(--White);
    padding: 30px;
    border-radius: var(--card-Border-Radius);
    box-shadow: 10px 10px 20px var(--Black);
}

.input{
    display: flex;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--Black);
    outline: none;
    box-shadow: 5px 5px 10px grey;
}

.generated{
    margin-top: 20px;
    text-align: center;
    display: none;
}

.generated img{
    border: 5px solid var(--Black);
    padding: 5px;
    border-radius: var(--generated-img-Border-Radius);
    cursor: pointer;
    box-shadow: 5px 5px 10px grey;
    max-height: 150px;
}
.button{
    display: flex;
    margin-top: 20px;
}

.button button{
    display: flex;
    align-items: center;
}

.button a{
    text-decoration: none;
}

.button img{
    width: 20px;
    margin-right: 10px;
}

#downloadBTN{
    margin-left: 20px ;
}
#downloadBTN , #generate{
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 16px;
    background: var(--Button-color);
    color: var(--Black);
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 5px 5px 10px grey;
}

#downloadBTN:hover , #generate:hover{
    background: var(--Button-color-hover);
}
